.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background-color: #686b74; /* Adjust the background color as needed */
    color: white; /* Adjust the text color as needed */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */    
  }