/* Ensure the body and html elements have full height */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;  
}

/* Container for the whole app */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
 
}

/* Main content styling */
.main-content {
  flex-grow: 1; /* Allow this to grow and fill available space */
  margin-top: 5rem; /* Adjusted to account for the fixed header height */
  margin-bottom: 4rem; /* Adjusted to account for the fixed footer height */
  padding: 1rem; /* Add padding to prevent content from touching edges */
  overflow-y: auto; /* Allow scrolling if content overflows */
  position: relative;
  z-index: 1;
  
}

.center-div{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.show-pointer{
  cursor: pointer;
}

.over-footer {
  position: fixed;
  bottom: 3rem; /* Position at the bottom of the viewport - we use 3 rem because footer height is 1.5rem */
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 1rem;
  text-align: center;
  height: 3rem; /* height of the over-footer div*/
  z-index: 999; /* Ensure it is above the footer but below the header */
}


